
    <main>
        <h2>Login Form</h2>
        <div class = "form-center">
        <form  action ="/users/login" 
            method ="POST">

            <label for="UserName">UserName</label>
            <input class="input-text" type="text" name = "Username"
            id = "Username" placeholder="Username"/>

            <label for="UserName">Password</label>
            <input class="input-text" type="password" name = "Password"
                   id = "Password" placeholder="Password"/>

        </div>
            <input class="form-button submit-button" type ="submit"value= "Submit">

        



        </form>
    </main>
