:root{
    --site-bg: rgb(138, 158, 184);
    --text-rounded-corners: .35rem;
    --footer-header-bg: rgb(18,17,64)
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

html{
    text-align: center;
    
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    
    background-color: var(--site-bg);

}
header{

    background-color: var(--footer-header-bg);
}
header h1{

    color: whitesmoke;
    text-align:center;
}






.input-group{
    

    display: flex;
    flex-direction: column;
    gap: 4px;
}

nav ul{
    



    display: grid;
    grid-auto-flow: column;
    list-style: none;

}

ul li a{
    


    color: rgb(138, 158, 184);
    text-decoration: none;
}

ul li{

    text-align: center;
    padding: 4px 8px;
}

form{




    text-align: center;
    display: grid;
    grid-auto-flow: rows;
    gap: 10px;
    width: 50%;
    padding: 8px;
}
.form-center{
    display:flex;
    justify-content: center;
}

.input-text{
    text-align: center;
    padding:4px 8px;
    border: 1px solid #cacacaca;
    border-radius: 16px;
    
    box-shadow: 0px 0px 8px black;
}

.site-footer{

    color: rgb(138, 158, 184);
    background-color: var(--footer-header-bg);
    text-align: center;
    padding: 12px;
    font-size: 1.2rem;



}

.form-button{

    text-align: center;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 1rem;
}

.submit-button{
    background-color: blue;

}

.file-button{


    color: black;
}

.titles{
    font-size: 1.8rem;
    text-align:center;

}

.outline{
    outline-color: black;
    outline-style: solid;
}
.valid_text{
    box-shadow: 10px 10px 64px green;

}
.invalid_text{
    box-shadow: 10px 10px 64px red;
}
.product-list{
    max-width: 1200px;
    margin:auto;
    background: #f2f2f2;
    overflow:auto;
    display:inline;


}

.product-card{
    margin: 5pc;
    border: 1px solid #ccc;
    display:block;
    float:left;
    width:120px;
    height:120px;


}
.product-img{
    width:100%;
    height: 100%;
}
.product-title{
    padding:15px;
    text-align: center;
}
.site-footer{
    position: fixed;
    bottom:0;
    width:100%;
    height:75px;

}





